.App {
  text-align: center;
  font-family: "Roboto";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.site-layout {
  padding: 32px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Fix the issue with list item title */
h4.ant-list-item-meta-title {
  margin-block-start: 0;
}

.ant-list-item:hover {
  border-color: transparent;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);
}

.ant-list-item .player-remove-icon {
  /* display: none; */
  cursor: pointer;
}

.ant-list-item:hover .player-remove-icon {
  display: inline-block;
  cursor: pointer;
}

.player-remove-icon:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);
}

.ant-space-item:has(.player-list) {
  width: 100%;
}

.player-list {
  max-height: 80vh;
  overflow-y: scroll;
  width: 100%;
}

.ant-modal-wrap .player-list {
  max-height: 40vh;
}

.ant-modal {
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: auto;
  height: 100%;
}

.team-card {
  min-width: 400px;
}

.team-card-space {
  width: 100%;
}
.ant-space-item:has(.team-card-space-item) {
  width: inherit;
}

.player-item {
  cursor: pointer;
}

.selected-player {
  background-color: #D2B4DE;
  border-radius: 16px;
}